<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en" translate="no" class="notranslate">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="Resumen%20de%20lista%20de%20clase_files/web_defaultapp.css" type="text/css">
<link rel="stylesheet" href="Resumen%20de%20lista%20de%20clase_files/web_defaultprint.css" type="text/css" media="print">
<title>Resumen de lista de clase</title>
<meta http-equiv="Content-Script-Type" name="Default_Script_Language" content="text/javascript">
<script language="JavaScript" type="text/javascript">
<!-- Hide JavaScript from older browsers 
window.onunload = function() {submitcount=0;}
var submitcount=0;
function checkSubmit() {
if (submitcount == 0)
   {
   submitcount++;
   return true;
   }
else
   {
alert("Sus cambios ya se enviaron.");
   return false;
   }
}
//  End script hiding -->
</script>
<script language="JavaScript" type="text/javascript">
<!-- Hide JavaScript from older browsers 
//  Function to open a window
function windowOpen(window_url) {
   helpWin = window.open(window_url,'','toolbar=yes,status=no,scrollbars=yes,menubar=yes,resizable=yes,directories=no,location=no,width=350,height=400');
   if (document.images) { 
       if (helpWin) helpWin.focus()
   }
}
//  End script hiding -->
</script>
</head>
<body>
<div class="headerwrapperdiv">
<div class="pageheaderdiv1">
<a href="#main_content" onmouseover="window.status='Ir a contenido principal'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Ir a contenido principal'; return true" onblur="window.status=''; return true" class="skiplinks">Ir a contenido principal</a>
<h1> BUAP</h1></div><div class="headerlinksdiv">
<span class="pageheaderlinks2">
<map name="Enlaces_de_Navegación_de_Módulo_H" title="Enlaces de Navegación de Módulo">
<p>
<a href="#skip_Enlaces_de_Navegación_de_Módulo_H" onmouseover="window.status='Skip Enlaces de Navegación de Módulo'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Skip Enlaces de Navegación de Módulo'; return true" onblur="window.status=''; return true" class="skiplinks">Skip Enlaces de Navegación de Módulo</a>
<table class="plaintable" summary="Esta es la tabla principal para desplegar los elementos de pestaña." width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr>
<td class="pldefault">
<table class="plaintable" summary="Esta tabla despliega elementos de pestaña." cellspacing="0" cellpadding="0" border="0">
<tbody><tr>
<td class="taboff" height="22">
<a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/twbkwbis.P_GenMenu?name=bmenu.P_GenMnu" onmouseover="window.status='Nueva Información Personal'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Nueva Información Personal'; return true" onblur="window.status=''; return true">Información Personal</a>
</td>
<td class="bgtaboff" height="22" valign="top" align="right">
<img src="Resumen%20de%20lista%20de%20clase_files/web_tab_corner_right.gif" alt="Esquina derecha" class="headerImg" title="Esquina derecha" name="web_tab_corner_right" hspace="0" vspace="0" border="0" height="20" width="8">
</td>
<td class="tabon" height="22">
<a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/twbkwbis.P_GenMenu?name=bmenu.P_FacMainMnu" onmouseover="window.status='Servicios a los Docentes'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Servicios a los Docentes'; return true" onblur="window.status=''; return true">Servicios a los Docentes</a>
</td>
<td class="bgtabon" height="22" valign="top" align="right">
<img src="Resumen%20de%20lista%20de%20clase_files/web_tab_corner_right.gif" alt="Esquina derecha" class="headerImg" title="Esquina derecha" name="web_tab_corner_right" hspace="0" vspace="0" border="0" height="20" width="8">
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td class="bgtabon" width="100%" colspan="2"><img src="Resumen%20de%20lista%20de%20clase_files/web_transparent.gif" alt="Imagen transparente" class="headerImg" title="Imagen transparente" name="web_transparent" hspace="0" vspace="0" border="0" height="3" width="10"></td></tr></tbody></table>

<a name="skip_Enlaces_de_Navegación_de_Módulo_H"></a>
</p></map></span></div>
<table class="plaintable" summary="Esta tabla muestra elementos de menú y cuadro de texto de búsqueda de Banner." width="100%">
<tbody><tr>
<td class="pldefault">
<div class="headerlinksdiv2">
</div>
</td>
<td class="pldefault"><p class="rightaligntext" p="">
<span class="pageheaderlinks">
<a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/twbkwbis.P_GenMenu?name=bmenu.P_FacMainMnu" class="submenulinktext2" id="ssbbackurl">REGRESAR A MENÚ</a>
|
<a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/twbksite.P_DispSiteMap?menu_name_in=bmenu.P_MainMnu&amp;depth_in=2&amp;columns_in=3" accesskey="2" class="submenulinktext2">Mapa del sitio</a>
|
<a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/twbkfrmt.P_DispHelp?pagename_in=bwlkfcwl.P_FacClaListSum" accesskey="H" onclick="popup = window.open('/autoservicios/twbkfrmt.P_DispHelp?pagename_in=bwlkfcwl.P_FacClaListSum', 'PopupPage','height=500,width=450,scrollbars=yes,resizable=yes'); return false" target="_blank" onmouseover="window.status='';  return true" onmouseout="window.status=''; return true" onfocus="window.status=''; return true" onblur="window.status=''; return true" class="submenulinktext2">Ayuda</a>
|
<a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/twbkwbis.P_Logout" accesskey="3" class="submenulinktext2">Salir</a>
</span>
</p></td>
</tr>
</tbody></table>
</div>
<div class="pagetitlediv">
<table class="plaintable" summary="Esta tabla muestra el título y encabezado estático." width="100%">
<tbody><tr>
<td class="pldefault">
<h2>Resumen de lista de clase</h2>
</td>
<td class="pldefault">
&nbsp;
</td>
<td class="pldefault"><p class="rightaligntext" p="">
</p><div class="staticheaders">
[NOMBRE_PROFESOR] - [ID_PROFESOR]<br>
[PERIODO_ACADEMICO]<br>
[FECHA_ACTUAL]<br>
</div>
</td>
</tr>
<tr>
<td class="bg3" width="100%" colspan="3"><img src="Resumen%20de%20lista%20de%20clase_files/web_transparent.gif" alt="Imagen transparente" class="headerImg" title="Imagen transparente" name="web_transparent" hspace="0" vspace="0" border="0" height="3" width="10"></td>
</tr>
</tbody></table>
<a name="main_content"></a>
</div>
<div class="pagebodydiv">
<!--  ** END OF twbkwbis.P_OpenDoc **  -->

<div class="infotextdiv"><table class="infotexttable" summary="Esta tabla contiene información que puede ser útil para entender el contenido y funcionalidad de esta página. Puede ser un breve conjunto de instrucciones, una descripción de mensajes de error, u otra información especial."><tbody><tr><td class="indefault"><img src="Resumen%20de%20lista%20de%20clase_files/web_info_cascade.png" alt="Información (PRUEBA)" class="headerImg" title="Información (PRUEBA)" name="web_info" hspace="0" vspace="0" border="0" height="12" width="14"></td><td class="indefault"><span class="infotext"> <p>Un asterisco aparecerá junto al campo apropiado si cualquiera de las siguientes condiciones existen: <br>1) El alumno tiene más de una carrera o departamento en su curriculum primario o secundario.<br> 2) El alumno tiene programa, nivel, escuela, o grado en el curriculum secundario que es diferente de su curriculum primario. </p></span></td></tr></tbody></table><p></p></div>
<div class="infotextdiv"><table class="infotexttable" summary="Esta tabla contiene información que puede ser útil para entender el contenido y funcionalidad de esta página. Puede ser un breve conjunto de instrucciones, una descripción de mensajes de error, u otra información especial."><tbody><tr><td class="indefault"><span class="infotext"> <p>Si aparece la palabra Confidencial junto al nombre del alumno, la información personal permanecerá confidencial.</p></span></td></tr></tbody></table><p></p></div>
<p class="whitespace1">

                
                <meta charset="utf-8">
             <meta name="google" value="notranslate">
<table class="datadisplaytable" summary="Esta tabla despliega los atributos de curso."><caption class="captiontext">Información de Curso</caption>
<tbody><tr>
<th colspan="2" class="ddlabel" scope="row">[NOMBRE_MATERIA] - [CLAVE_MATERIA]</th>
</tr>
<tr>
<th class="ddlabel" scope="row"><acronym title="Número de Referencia de Curso">NRC:</acronym></th>
<td class="dddefault">[NRC]</td>
</tr>
<tr>
<th class="ddlabel" scope="row">Duración:</th>
<td class="dddefault">[FECHA_INICIO] - [FECHA_FIN]</td>
</tr>
<tr>
<th class="ddlabel" scope="row">Status:</th>
<td class="dddefault">Activo</td>
</tr>
</tbody></table>

<br>
<table class="datadisplaytable" summary="Esta tabla despliega los conteos de ingreso y de lista de espera."><caption class="captiontext">Conteo de Ingreso</caption>
<tbody><tr>
<th class="ddheader" scope="col">&nbsp;</th>
<th class="ddheader" scope="col">Máximo</th>
<th class="ddheader" scope="col">Real</th>
<th class="ddheader" scope="col">Restante</th>
</tr>
<tr>
<th class="ddlabel" scope="row">Ingreso:</th>
<td class="dddefault">[MAXIMO_ALUMNOS]</td>
<td class="dddefault">[ALUMNOS_INSCRITOS]</td>
<td class="dddefault">[LUGARES_DISPONIBLES]</td>
</tr>
<tr>
<th class="ddlabel" scope="row">Lista Cruzada: </th>
<td class="dddefault">0</td>
<td class="dddefault">0</td>
<td class="dddefault">0</td>
</tr>
</tbody></table>
<br>
<table class="datadisplaytable" summary="Esta tabla despliega una lista de alumnos inscritos para el curso, se provee información de resumen para cada alumno." width="100%"><caption class="captiontext">Resumen de Lista de Clase</caption>
<tbody><tr>
<th class="ddheader" scope="col">Número de<br>Registro</th>
<th class="ddheader" scope="col">Nombre de Alumno</th>
<th class="ddheader" scope="col"><acronym title="Número de Identificación">ID</acronym></th>
<th class="ddheader" scope="col"><abbr title="Status de Inscripción">Status de Inscripción</abbr></th>
<th class="ddheader" scope="col">Nivel</th>
<th class="ddheader" scope="col">Créditos</th>
<th class="ddheader" scope="col">Detalle de Calificaciones</th>
<td class="dddead">&nbsp;</td>
</tr>
<!-- EJEMPLOS DE ALUMNOS - Copiar esta estructura para cada alumno -->
<tr>
<td class="dddefault">1</td>
<td class="dddefault"><span class="fieldmediumtext">APELLIDO PATERNO, APELLIDO MATERNO NOMBRE(S) </span></td>
<td class="dddefault"><span class="fieldmediumtext">[MATRICULA]</span></td>
<td class="dddefault"><span class="fieldmediumtext">**Inscrito por Web**</span></td>
<td class="dddefault"><span class="fieldmediumtext">Licenciatura</span></td>
<td class="dddefault"><span class="fieldmediumtext">    6.000</span></td>
<td class="dddead">&nbsp;</td>
<td class="dddefault"><span class="fieldmediumtext"><a href="mailto:[EMAIL_ALUMNO]@alumno.buap.mx" target="[NOMBRE_COMPLETO]"><img src="Resumen%20de%20lista%20de%20clase_files/web_email.gif" align="middle" alt="Correo-e" class="headerImg" title="Correo-e" name="web_email" hspace="0" vspace="0" border="0" height="28" width="28"></a></span></td>
</tr>
<tr>
<td class="dddefault">2</td>
<td class="dddefault"><span class="fieldmediumtext">APELLIDO PATERNO, APELLIDO MATERNO NOMBRE(S) </span></td>
<td class="dddefault"><span class="fieldmediumtext">[MATRICULA]</span></td>
<td class="dddefault"><span class="fieldmediumtext">**Inscrito por Web**</span></td>
<td class="dddefault"><span class="fieldmediumtext">Licenciatura</span></td>
<td class="dddefault"><span class="fieldmediumtext">    6.000</span></td>
<td class="dddead">&nbsp;</td>
<td class="dddefault"><span class="fieldmediumtext"><a href="mailto:[EMAIL_ALUMNO]@alumno.buap.mx" target="[NOMBRE_COMPLETO]"><img src="Resumen%20de%20lista%20de%20clase_files/web_email.gif" align="middle" alt="Correo-e" class="headerImg" title="Correo-e" name="web_email" hspace="0" vspace="0" border="0" height="28" width="28"></a></span></td>
</tr>
<!-- AGREGAR MÁS FILAS AQUÍ SIGUIENDO EL MISMO FORMATO -->
</tbody></table>
</p><p class="whitespace1">
<a href="mailto:?Bcc=[EMAILS_ALUMNOS]">Clase de correo-e</a>
<a href="mailto:?Bcc=[EMAILS_ALUMNOS]"><img src="Resumen%20de%20lista%20de%20clase_files/web_email.gif" align="middle" alt="Correo-e" class="headerImg" title="Correo-e" name="web_email" hspace="0" vspace="0" border="0" height="28" width="28"></a>
</p><p class="whitespace1">
<a href="javascript:history.go(-1)" onmouseover="window.status='Regresar a Anterior';  return true" onfocus="window.status='Regresar a Anterior';  return true" onmouseout="window.status='';  return true" onblur="window.status=''; return true">Regresar a Anterior</a>

<!--  ** START OF twbkwbis.P_CloseDoc **  -->
<table class="plaintable" summary="Esta tabla muestra separador de línea al final de la página." width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="bgtabon" width="100%" colspan="2"><img src="Resumen%20de%20lista%20de%20clase_files/web_transparent.gif" alt="Imagen transparente" class="headerImg" title="Imagen transparente" name="web_transparent" hspace="0" vspace="0" border="0" height="3" width="10"></td></tr></tbody></table>
<a href="#top" onmouseover="window.status='Ir al inicio de página'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Ir al inicio de página'; return true" onblur="window.status=''; return true" class="skiplinks">Ir al inicio de página</a>
</p></div>
<div class="footerbeforediv">

</div>
<div class="footerlinksdiv">
<span class="pagefooterlinks">
<map name="Resumen_de_lista_de_clase_Links_F" title="Resumen de lista de clase Links">
<p>
<a href="#skip_Resumen_de_lista_de_clase_Links_F" onmouseover="window.status='Skip Resumen de lista de clase Links'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Skip Resumen de lista de clase Links'; return true" onblur="window.status=''; return true" class="skiplinks">Skip Resumen de lista de clase Links</a>
</p><p>[ <a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/bwlkostm.P_FacSelTerm" onmouseover="window.status='Selección de periodo'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Selección de periodo'; return true" onblur="window.status=''; return true">Selección de periodo</a>
 | <a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/bwlkocrn.P_FacCrnSel" onmouseover="window.status='Selección del NRC'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Selección del NRC'; return true" onblur="window.status=''; return true">Selección del NRC</a>
 | <a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/bwlkfcwl.P_FacClaList" onmouseover="window.status='Detalle de lista de clase'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Detalle de lista de clase'; return true" onblur="window.status=''; return true">Detalle de lista de clase</a>
 | <a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/bwlkfmgd.P_FacMidGrd" onmouseover="window.status='Calificaciones de extraordinarios'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Calificaciones de extraordinarios'; return true" onblur="window.status=''; return true">Calificaciones de extraordinarios</a>
 | <a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/bwlkffgd.P_FacFinGrd" onmouseover="window.status='Calificaciones de ordinarios'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Calificaciones de ordinarios'; return true" onblur="window.status=''; return true">Calificaciones de ordinarios</a>
 | <a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/bwlkifac.P_FacSched" onmouseover="window.status='Detalle de horario de docente'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Detalle de horario de docente'; return true" onblur="window.status=''; return true">Detalle de horario de docente</a>
 | <a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/bwlkfcwl.P_FacWaitList" onmouseover="window.status='Detalle de lista de espera'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Detalle de lista de espera'; return true" onblur="window.status=''; return true">Detalle de lista de espera</a>
 | <a href="http://webserver1.siiaa.siu.buap.mx/autoservicios/bwlkfcwl.P_FacWaitListSum" onmouseover="window.status='Resumen de lista de espera'; return true" onmouseout="window.status=''; return true" onfocus="window.status='Resumen de lista de espera'; return true" onblur="window.status=''; return true">Resumen de lista de espera</a>
 ]


<a name="skip_Resumen_de_lista_de_clase_Links_F"></a>
</p></map></span></div>
<br>
<br>
<div class="pagefooterdiv">
<span class="releasetext">Versión: 8.7.1</span>
</div>
<div class="poweredbydiv">
</div>
<div class="div1"></div>
<div class="div2"></div>
<div class="div3"></div>
<div class="div4"></div>
<div class="div5"></div>
<div class="div6"></div>
<div class="banner_copyright"> <br>© 2021 Benemérita Universidad Autónoma de Puebla</div>

</body></html>
